@charset "utf-8"

<style id="applicationStylesheet" type="text/css">
	.mediaViewInfo {
		--web-view-name: 웹 1920 – 1;
		--web-view-id: _1920__1;
		--web-scale-on-resize: true;
		--web-enable-deep-linking: true;
	}
	:root {
		--web-view-ids: _1920__1;
	}
	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		border: none;
	}
	#_1920__1 {
		position: absolute;
		width: 1920px;
		height: 1080px;
		background-color: rgba(252,252,252,1);
		overflow: hidden;
		--web-view-name: 웹 1920 – 1;
		--web-view-id: _1920__1;
		--web-scale-on-resize: true;
		--web-enable-deep-linking: true;
	}
	#_27 {
		fill: rgba(249,249,249,1);
		stroke: rgba(112,112,112,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	._27 {
		position: absolute;
		overflow: visible;
		width: 1253px;
		height: 738px;
		left: 50px;
		top: 104px;
	}
	#_ {
		left: 50px;
		top: 30px;
		position: absolute;
		overflow: visible;
		width: 548px;
		white-space: nowrap;
		text-align: left;
		font-family: Segoe UI;
		font-style: normal;
		font-weight: bold;
		font-size: 39px;
		color: rgba(112,112,112,1);
	}
	#_4 {
		fill: rgba(255,255,255,1);
		stroke: rgba(112,112,112,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	._4 {
		width: 90px;
		height: 196px;
		position: absolute;
		overflow: visible;
		transform: matrix(1,0,0,1,103,51) rotate(-90deg);
		transform-origin: center;
	}
	#_5 {
		fill: rgba(255,255,255,1);
		stroke: rgba(112,112,112,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	._5 {
		width: 90px;
		height: 196px;
		position: absolute;
		overflow: visible;
		transform: matrix(1,0,0,1,103,141) rotate(-90deg);
		transform-origin: center;
	}
	#_6 {
		fill: rgba(255,255,255,1);
		stroke: rgba(112,112,112,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	._6 {
		width: 90px;
		height: 196px;
		position: absolute;
		overflow: visible;
		transform: matrix(1,0,0,1,103,231) rotate(-90deg);
		transform-origin: center;
	}
	#_7 {
		fill: rgba(255,255,255,1);
		stroke: rgba(112,112,112,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	._7 {
		width: 90px;
		height: 196px;
		position: absolute;
		overflow: visible;
		transform: matrix(1,0,0,1,103,321) rotate(-90deg);
		transform-origin: center;
	}
	#_8 {
		fill: rgba(255,255,255,1);
		stroke: rgba(112,112,112,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	._8 {
		width: 90px;
		height: 196px;
		position: absolute;
		overflow: visible;
		transform: matrix(1,0,0,1,103,411) rotate(-90deg);
		transform-origin: center;
	}
	#_9 {
		fill: rgba(255,255,255,1);
		stroke: rgba(112,112,112,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	._9 {
		width: 90px;
		height: 196px;
		position: absolute;
		overflow: visible;
		transform: matrix(1,0,0,1,534,51) rotate(-90deg);
		transform-origin: center;
	}
	#_10 {
		fill: rgba(255,255,255,1);
		stroke: rgba(112,112,112,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	._10 {
		width: 90px;
		height: 196px;
		position: absolute;
		overflow: visible;
		transform: matrix(1,0,0,1,534,141) rotate(-90deg);
		transform-origin: center;
	}
	#_11 {
		fill: rgba(255,255,255,1);
		stroke: rgba(112,112,112,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	._11 {
		width: 90px;
		height: 196px;
		position: absolute;
		overflow: visible;
		transform: matrix(1,0,0,1,534,231) rotate(-90deg);
		transform-origin: center;
	}
	#_12 {
		fill: rgba(255,255,255,1);
		stroke: rgba(112,112,112,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	._12 {
		width: 90px;
		height: 196px;
		position: absolute;
		overflow: visible;
		transform: matrix(1,0,0,1,534,321) rotate(-90deg);
		transform-origin: center;
	}
	#_13 {
		fill: rgba(255,255,255,1);
		stroke: rgba(112,112,112,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	._13 {
		width: 90px;
		height: 196px;
		position: absolute;
		overflow: visible;
		transform: matrix(1,0,0,1,534,411) rotate(-90deg);
		transform-origin: center;
	}
	#_14 {
		fill: rgba(255,255,255,1);
		stroke: rgba(112,112,112,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	._14 {
		width: 90px;
		height: 195px;
		position: absolute;
		overflow: visible;
		transform: matrix(1,0,0,1,729.5,51.5) rotate(-90deg);
		transform-origin: center;
	}
	#_15 {
		fill: rgba(255,255,255,1);
		stroke: rgba(112,112,112,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	._15 {
		width: 90px;
		height: 195px;
		position: absolute;
		overflow: visible;
		transform: matrix(1,0,0,1,729.5,141.5) rotate(-90deg);
		transform-origin: center;
	}
	#_16 {
		fill: rgba(255,255,255,1);
		stroke: rgba(112,112,112,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	._16 {
		width: 90px;
		height: 195px;
		position: absolute;
		overflow: visible;
		transform: matrix(1,0,0,1,729.5,231.5) rotate(-90deg);
		transform-origin: center;
	}
	#_17 {
		fill: rgba(255,255,255,1);
		stroke: rgba(112,112,112,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	._17 {
		width: 90px;
		height: 195px;
		position: absolute;
		overflow: visible;
		transform: matrix(1,0,0,1,729.5,321.5) rotate(-90deg);
		transform-origin: center;
	}
	#_18 {
		fill: rgba(255,255,255,1);
		stroke: rgba(112,112,112,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	._18 {
		width: 90px;
		height: 195px;
		position: absolute;
		overflow: visible;
		transform: matrix(1,0,0,1,729.5,411.5) rotate(-90deg);
		transform-origin: center;
	}
	#_19 {
		fill: rgba(255,255,255,1);
		stroke: rgba(112,112,112,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	._19 {
		width: 90px;
		height: 196px;
		position: absolute;
		overflow: visible;
		transform: matrix(1,0,0,1,1160,51) rotate(-90deg);
		transform-origin: center;
	}
	#_20 {
		fill: rgba(255,255,255,1);
		stroke: rgba(112,112,112,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	._20 {
		width: 90px;
		height: 196px;
		position: absolute;
		overflow: visible;
		transform: matrix(1,0,0,1,1160,141) rotate(-90deg);
		transform-origin: center;
	}
	#_21 {
		fill: rgba(255,255,255,1);
		stroke: rgba(112,112,112,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	._21 {
		width: 90px;
		height: 196px;
		position: absolute;
		overflow: visible;
		transform: matrix(1,0,0,1,1160,231) rotate(-90deg);
		transform-origin: center;
	}
	#_22 {
		fill: rgba(255,255,255,1);
		stroke: rgba(112,112,112,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	._22 {
		width: 90px;
		height: 196px;
		position: absolute;
		overflow: visible;
		transform: matrix(1,0,0,1,1160,321) rotate(-90deg);
		transform-origin: center;
	}
	#_23 {
		fill: rgba(255,255,255,1);
		stroke: rgba(112,112,112,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	._23 {
		width: 90px;
		height: 196px;
		position: absolute;
		overflow: visible;
		transform: matrix(1,0,0,1,1160,411) rotate(-90deg);
		transform-origin: center;
	}
	#ID1F {
		left: 622px;
		top: 606px;
		position: absolute;
		overflow: visible;
		width: 111px;
		white-space: nowrap;
		text-align: center;
		font-family: Segoe UI;
		font-style: normal;
		font-weight: bold;
		font-size: 100px;
		color: rgba(210,210,210,1);
	}
	#ID37758 {
		opacity: 0.52;
		position: absolute;
		width: 150px;
		height: 150px;
		left: 50px;
		top: 564px;
		overflow: visible;
	}
	#ID37758_ {
		opacity: 0.52;
		position: absolute;
		width: 150px;
		height: 150px;
		left: 50px;
		top: 673px;
		overflow: visible;
	}
	#__ {
		left: 217px;
		top: 623px;
		position: absolute;
		overflow: visible;
		width: 133px;
		white-space: nowrap;
		text-align: center;
		font-family: Segoe UI;
		font-style: normal;
		font-weight: bold;
		font-size: 25px;
		color: rgba(55,55,55,1);
	}
	#__ba {
		left: 217px;
		top: 732px;
		position: absolute;
		overflow: visible;
		width: 133px;
		white-space: nowrap;
		text-align: center;
		font-family: Segoe UI;
		font-style: normal;
		font-weight: bold;
		font-size: 25px;
		color: rgba(55,55,55,1);
	}
	#_24 {
		fill: rgba(255,0,0,1);
		stroke: rgba(112,112,112,1);
		stroke-width: 1px;
		stroke-linejoin: round;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	._24 {
		width: 66px;
		height: 112px;
		position: absolute;
		overflow: visible;
		transform: matrix(1,0,0,1,1367,104) rotate(180deg);
		transform-origin: center;
	}
	#_25 {
		fill: rgba(0,0,255,1);
		stroke: rgba(112,112,112,1);
		stroke-width: 1px;
		stroke-linejoin: round;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	._25 {
		width: 66px;
		height: 112px;
		position: absolute;
		overflow: visible;
		transform: matrix(1,0,0,1,1367,262) rotate(180deg);
		transform-origin: center;
	}
	#_ab{
		left: 1461px;
		top: 140px;
		position: absolute;
		overflow: visible;
		width: 129px;
		white-space: nowrap;
		text-align: left;
		font-family: Segoe UI;
		font-style: italic;
		font-weight: normal;
		font-size: 30px;
		color: rgba(99,99,99,1);
	}
	#_ba {
		left: 1461px;
		top: 309px;
		position: absolute;
		overflow: visible;
		width: 128px;
		white-space: nowrap;
		text-align: left;
		font-family: Segoe UI;
		font-style: italic;
		font-weight: normal;
		font-size: 30px;
		color: rgba(99,99,99,1);
	}
	#__bb {
		left: 1367px;
		top: 459px;
		position: absolute;
		overflow: visible;
		width: 221px;
		white-space: nowrap;
		text-align: left;
		font-family: Segoe UI;
		font-style: normal;
		font-weight: bold;
		font-size: 35px;
		color: rgba(99,99,99,1);
	}
	#__bc {
		left: 1367px;
		top: 571px;
		position: absolute;
		overflow: visible;
		width: 221px;
		white-space: nowrap;
		text-align: left;
		font-family: Segoe UI;
		font-style: normal;
		font-weight: bold;
		font-size: 35px;
		color: rgba(99,99,99,1);
	}
	#__bd {
		left: 1367px;
		top: 683px;
		position: absolute;
		overflow: visible;
		width: 221px;
		white-space: nowrap;
		text-align: left;
		font-family: Segoe UI;
		font-style: normal;
		font-weight: bold;
		font-size: 35px;
		color: rgba(99,99,99,1);
	}
	#__be {
		left: 1367px;
		top: 795px;
		position: absolute;
		overflow: visible;
		width: 221px;
		white-space: nowrap;
		text-align: left;
		font-family: Segoe UI;
		font-style: normal;
		font-weight: bold;
		font-size: 35px;
		color: rgba(99,99,99,1);
	}
	#_26 {
		fill: rgba(188,188,188,1);
		stroke: rgba(112,112,112,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	._26 {
		position: absolute;
		overflow: visible;
		width: 343px;
		height: 186px;
		left: 960px;
		top: 656px;
	}
	#_bg {
		left: 1072px;
		top: 722px;
		position: absolute;
		overflow: visible;
		width: 121px;
		white-space: nowrap;
		text-align: left;
		font-family: Segoe UI;
		font-style: normal;
		font-weight: bold;
		font-size: 40px;
		color: rgba(255,255,255,1);
	}
</style>